---
layout: layout.liquid
title: Home
---

<h1>Planetary Playing Cards</h1>

<div class="grid-layout">
    <div class="module one">
        <div id="sun-img"></div>
        <h2>Sun</h2>
        <p>Type G2V</p>
    </div>

    <div class="module two">
        <div id="mercury-img"></div>
        <h3>Mercury</h3>
        <p class="unit-text">AU Distance</p>
    </div>

    <div class="module three">
        <div id="venus-img"></div>
        <h3>Venus</h3>
        <p class="unit-text">AU Distance</p>
    </div>

    <div class="module four">
        <div id="earth-img"></div>
        <h3>Earth</h3>
        <p class="unit-text">AU Distance</p>
    </div>

    <div class="module five">
        <div id="mars-img"></div>
        <h3>Mars</h3>
        <p class="unit-text">AU Distance</p>
    </div>

    <div class="module six">
        <div id="jupiter-img"></div>
        <h3>Jupiter</h3>
        <p class="unit-text">AU Distance</p>
    </div>

    <div class="module seven">
        <div id="saturn-img"></div>
        <h3>Saturn</h3>
        <p class="unit-text">AU Distance</p>
    </div>

    <div class="module eight">
        <div id="uranus-img"></div>
        <h3>Uranus</h3>
        <p class="unit-text">AU Distance</p>
    </div>

    <div class="module nine">
        <div id="neptune-img"></div>
        <h3>Neptune</h3>
        <p class="unit-text">AU Distance</p>
    </div>
</div>

<script>
    ScrollReveal().reveal('.module.one', {delay: 100});
    ScrollReveal().reveal('.module.two', {delay: 200});
    ScrollReveal().reveal('.module.three', {delay: 300});
    ScrollReveal().reveal('.module.four', {delay: 400});
    ScrollReveal().reveal('.module.five', {delay: 500});
    ScrollReveal().reveal('.module.six', {delay: 600});
    ScrollReveal().reveal('.module.seven', {delay: 700});
    ScrollReveal().reveal('.module.eight', {delay: 800});
    ScrollReveal().reveal('.module.nine', {delay: 900});
</script>