:root {
    --sun-size: 100px;
    --mercury-size: 40px;
    --venus-size: 40px;
    --earth-size: 40px;
    --mars-size: 40px;
    --jupiter-size: 40px;
    --saturn-size: 40px;
    --uranus-size: 40px;
    --neptune-size: 40px;
    --hover-transform: scale(1.2);
}

body {
    font-family: Helvetica, sans-serif;

    background: #202020;
    /* padding: 0 40px; */
    text-align: center;
}

h1 {
    color: #EAE8FF;
    font-size: 4em;
    letter-spacing: -2px;
}

h2 {
    font-size: 2em;
    margin-bottom: 0px;
}

h3 {
    font-size: 0.9em;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-top: 0px;
}

.unit-text {
    font-size: 0.7em;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px;
    /* grid-auto-columns: ; */
    gap: 20px;
    width: 550px;
    margin: 0 auto;
}

.module {
    color: #353535;
    background: #b5b5b5;
    border-radius: 10px;
}

.module.one {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

#sun-img {
    width: var(--sun-size);
    height: var(--sun-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #f8cf6f;
    margin: 20px auto;
}

#mercury-img {
    width: var(--mercury-size);
    height: var(--mercury-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #9a99a2;
    margin: 15px auto;
    margin-bottom: 0px;
}

#venus-img {
    width: var(--venus-size);
    height: var(--venus-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #bb7614;
    margin: 15px auto;
    margin-bottom: 0px;
}

#earth-img {
    width: var(--earth-size);
    height: var(--earth-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #19b119;
    margin: 15px auto;
    margin-bottom: 0px;
}

#mars-img {
    width: var(--mars-size);
    height: var(--mars-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #c7a476;
    margin: 15px auto;
    margin-bottom: 0px;
}

#jupiter-img {
    width: var(--jupiter-size);
    height: var(--jupiter-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #b6b585;
    margin: 15px auto;
    margin-bottom: 0px;
}

#saturn-img {
    width: var(--saturn-size);
    height: var(--saturn-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #bcc19c;
    margin: 15px auto;
    margin-bottom: 0px;
}

#uranus-img {
    width: var(--uranus-size);
    height: var(--uranus-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #87dae7;
    margin: 15px auto;
    margin-bottom: 0px;
}

#neptune-img {
    width: var(--neptune-size);
    height: var(--neptune-size);
    border-radius: 50%;
    border: 2px solid #000;
    background-color: #2d39de;
    margin: 15px auto;
    margin-bottom: 0px;
}

#sun-img:hover {
    transform: var(--hover-transform);
}

#mercury-img:hover {
    transform: var(--hover-transform);
}

#venus-img:hover {
    transform: var(--hover-transform);
}

#earth-img:hover {
    transform: var(--hover-transform);
}

#mars-img:hover {
    transform: var(--hover-transform);
}

#jupiter-img:hover {
    transform: var(--hover-transform);
}

#saturn-img:hover {
    transform: var(--hover-transform);
}

#uranus-img:hover {
    transform: var(--hover-transform);
}

#neptune-img:hover {
    transform: var(--hover-transform);
}